article    
  margin: 0 auto
  font-size: 1.6em
  line-height: 1.3em
  width: (60em / @font-size)
  color: $darkGray
  text-align: justify
  p
    font-weight: 200
    margin: 0 0 3em
  blockquote
    border-left: 0.1em solid alpha($blue,0.4)
    padding-left: 1.5em
  h1:first-letter
    color: $lightBlue
    font-size: 2em
  a
    color: hsl(6, 78%, 57%)
    &:hover
      text-decoration: underline
  h1,h2,h3,h4,h5
    a
      text-decoration: none
      color $darkBlue