#main-background
  z-index: 2
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0

.page-home
  height: 100%
  .content
    padding-top: 0
    background alpha($white,0.6)
  a
    text-decoration: none
  header
    color: hsl(0, 1%, 30%)
    font-family: $logoFontFamily
    position: relative
    display: inline-block
    font-size: 1.1em
    .date
      font-weight: 300
      position: absolute
      right: 0.25em
      top:-0.8em
      font-size: 2.85em
      text-transform: uppercase
      .month
        margin-right: 0.2em
    .title
      .hack
        font-weight: 300 
        color: hsl(221, 35%, 40%)
      .tbilisi
        font-weight: 700
        text-transform: uppercase
        color: hsl(0, 82%, 56%)
      font-weight: normal
      margin: 0
      font-size: 8.5em
      line-height: 1.3em
    .subtitle
      text-align: center
      border-top: solid 1px 
      margin: 0
      font-weight: normal
      font-size: 2.2em
      line-height: 1.4em
      padding:  0.2em 0.5em
      font-weight: 300
      right: 0
      bottom: 0
.unihack-tm
  position: absolute
  bottom: 6.5em
  left: 3em
  // top: 7em
  // left: 3em
  font-family: $unihackLogoFontFamily
  color: black
  .text
    font-size: 2em
  &:hover 
    .extra
      .normal
        opacity: 0
        top:1em
      .hover
        opacity: 1
        top:0
  .extra
    position: absolute
    top: 0
    text-transform: uppercase
    span
      transition:all 0.2s linear
    .normal
      position: absolute
      left: 0
      opacity: 1
      top: 0
    .hover
      opacity: 0
      position: absolute
      left: 0
      top: -1em
nav#social
  position: absolute
  top: 7em
  right: 7em

  a
    display: inline-block
    font-size: 2em
    size: 1em 1em
    line-height: 1em
    color: white
    opacity: 0.8
    transition: opacity 0.2s ease-out
    &:hover
      opacity: 1
    span
      display: none
    &+a
      margin-left: 1em
    &.facebook
      color: hsl(221, 44%, 42%)
    &.twitter
      color: hsl(195, 99%, 49%)
    &.google-plus
      color: hsl(0, 63%, 49%)
    &.youtube-play
      color: hsl(0, 100%, 49%)
    &.envelope
      color: hsl(40, 0%, 30%)


#cuboid
  font: normal 1.5em $logoFontFamily 
  color: white 
  text-align: center
  width: 500px 
  font-weight: 400;
  margin: auto
  perspective: 1000px
  position: absolute
  left: 0
  right: 0
  bottom:4em
  *
    margin: 0 
    padding: 0
  form 
    transform: translateZ(-20px)
    transform-style: preserve-3d
    height: 40px
    transition: all 0.35s
.cuboid-text
  text-transform: uppercase
  line-height: 40px
  height: 40px
  background: hsl(138, 50%, 46%)

.loader
  background: hsl(138, 50%, 46%)
  -webkit-animation: phase 2s ease infinite
@keyframes phase 
  50% {background: hsl(138, 50%, 70%)}

#email
  background: white
  box-shadow: inset 0 0 0 1px hsl(120, 15%, 75%)
  .valid &
    color: hsl(120, 40%, 30%)
    box-shadow: inset 0 0 0 1px hsl(120, 40%, 30%)
  .invalid &
    color: hsl(0, 40%, 30%)
    box-shadow: inset 0 0 0 1px hsl(0, 40%, 30%)
  outline: none
  border: 0 none
  font: inherit
  text-align: left
  display: block
  transition: all 0.5s
  text-transform: none
  width: 100%
  padding: 0 10px
  box-sizing: border-box
#submit
  display: none

.submit-icon, .reset-icon
  position: absolute
  top: 0 
  right: 0.5em
  color: hsla(0, 0%, 0%, 0.25)
  line-height: 40px
  padding: 0 10px
  transition: all 0.5s
  cursor: pointer
.submit-icon
  .valid & 
    color: hsl(120, 40%, 30%)
  .invalid &
    color: hsl(0, 40%, 30%)
.reset-icon 
  color: hsla(0, 0%, 100%, 0.25)
  font-size: 14px
#cuboid div 
  position: absolute
  top: 0
  left: 0
  width: 100%
#cuboid div:nth-child(1)
  transform: rotateX(0deg) translateZ(20px)
#cuboid div:nth-child(2)
  transform: rotateX(-90deg) translateZ(20px)
#cuboid div:nth-child(3)
  transform: rotateX(-180deg) translateZ(20px)
#cuboid div:nth-child(4)
  transform: rotateX(-270deg) translateZ(20px)

#cuboid form:hover, 
#cuboid form.ready 
  transform: translateZ(-20px) rotateX(90deg)
#cuboid form.loading 
  transform: translateZ(-20px) rotateX(180deg)
#cuboid form.complete 
  transform: translateZ(-20px) rotateX(270deg)