.page-sponsors
  $background = $opaqueLight
  h1,h2,h3,h4,h5
    margin: 2em 0 1em
  h1 
    font-size:2em

  .center
    text-align: center
  .background
    background: $background
  .sponsors-giga
    .sponsor-item
      size: (16em * 2) (9em * 2)
  .sponsors-mega
    .sponsor-item
      size: (16em * 1.50) (9em * 1.50)
  .sponsors-kilo
    .sponsor-item
      size: (16em) (9em)
  .partners
    .sponsor-item
      size: (16em) (9em)
  .mediaPartners
    .sponsor-item
      size: (16em) (9em)
  .sponsor-item
    display: inline-block
    margin: 1em
    img
      display: inline-block;
      max-width:100%;
      max-height:100%;
      width: auto;
      height: auto;
 