mixin mainNavigationLink(target,title,subtitle)
  li(class='for-' + target)
    a(href='#' + target)
      span.title=title
      span.subtitle=subtitle 

doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(property='og:title', content='hackTbilisi')
    meta(property='og:type', content='website')
    meta(property='og:image', content= siteURL + '/images/logo.png')
    meta(property='og:url', content= siteURL)
    meta(property='og:description', content='Connecting Hackers from Europe and Asia, Tbilisi, Georgia , Dec 19-21 .unHack')
    meta(name='description', content='Connecting Hackers from Europe and Asia, Tbilisi, Georgia , Dec 19-21 .unHack')
    meta(property='og:site_name', content='hackTbilisi.com')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='style.css')
    link(rel='shortcut icon' href='images/favicon.ico')
    title= hackTbilisi
  body.home-visable
    div#main-background
    div#main-wrapper
      block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src='app.js')
